@model Cafe.ViewModel.Catalog.Sell.SellRequest.SellBillCreateRequest
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var data = ViewData["data"] as List<Cafe.ViewModel.Catalog.Sell.SellRequest.ListProductInSellRequest>;
}

<script src="~/js/jquery-3.5.1.js"></script>
<script src="~/js/jquery.autocomplete.min.js"></script>

<div class="bill-div">
    <form class="seach-div" asp-action="LoadListProduct">
        <input type="text"  id="seach-input" class="biginput" placeholder="Tìm kiếm" name="SellBillId">
        <button class="seach-icon" type="submit">
            <i class="fas fa-plus"></i>
        </button>
    </form>

   
    @*@await Html.PartialAsync("LoadListProduct")*@
    <table class="list-product">
        <thead>
            <tr>
                <th>
                </th>
                <th id="product-item">
                    Đồ uống

                </th>
                <th id="price-item">
                    Giá
                </th>
                <th id="quantity-item">
                    Số lượng

                </th>
                <th id="total-money-item">
                    Tổng tiền

                </th>
                <th id="discount-item">
                    Giảm giá

                </th>
                <th id="money-item">
                    Thành tiền

                </th>
            </tr>
        </thead>



        @foreach (var item in data)
        {
            <tr>
                <td>
                    <button>
                        <i class="fas fa-times"></i>
                    </button>
                </td>
                <td class="td-body">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="td-body">
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td class="td-body">
                    @Html.DisplayFor(modelItem => item.OriginalPrice)
                </td>
                <td class="td-body">
                    @Html.DisplayFor(modelItem => item.Discout)
                </td>
                <td class="td-body">
                    @Html.DisplayFor(modelItem => item.TotalPrice)
                </td>
                <td class="td-body">
                    @Html.DisplayFor(modelItem => item.SellBillId)
                </td>
            </tr>
        }



    </table>

</div>

<div class="pay-div">
    <div class="user-div">
        <i class="fas fa-user"></i>
        <input asp-for="UserCreated" name="UserCreated">
        <input asp-for="DateCreated" class="date-created" type="datetime-local" name="DateCreated">
    </div>
    <form class="customer-div" >
        <input type="text" id="customer-seach-input" placeholder="Tìm kiếm khách hàng" asp-for="CustomerId" name="CustomerId">
        <button class="customer-seach-icon">
            <i class="fas fa-plus"></i>
        </button>
    </form>

    <div class="product-div">
        <button class="product-btn">
            <i class="fas fa-search"></i>
            Bảng giá
        </button>
    </div>

    <form asp-action="Index" enctype="multipart/form-data" method="post">
        <div class="info-pay-div">
            <label asp-for="UserCreated">Thu ngân:</label>
            <input asp-for="UserCreated" class="info-pay-input" type="text" name="UserCreated" value="admin">
        </div>
        <div class="info-pay-div">
            <label asp-for="CustomerId">Khách hàng:</label>
            <input asp-for="CustomerId" class="info-pay-input" type="text" name="CustomerId">
        </div>
        <div class="info-pay-div">
            <label asp-for="DateCreated">Thời gian:</label>
            <input asp-for="DateCreated" class="info-pay-input" type="datetime-local" name="DateCreated" placeholder="tìm kiếm khách hàng">
        </div>


        <div class="info-pay-div">
            <label asp-for="SellBillId">Số HĐ:</label>
            <input asp-for="SellBillId" class="info-pay-input" type="text" name="SellBillId">
        </div>
        <div class="info-pay-div">
            <label asp-for="OriginalPrice">Tổng tiền:</label>
            <input asp-for="OriginalPrice" class="info-pay-input" type="text" name="OriginalPrice">
        </div>
        <div class="info-pay-div">
            <label asp-for="Discout">giảm giá:</label>
            <input asp-for="Discout" class="info-pay-input" type="text" name="Discout">
        </div>
        <div class="info-pay-div">
            <label asp-for="TotalPrice">Thành tiền:</label>
            <input asp-for="TotalPrice" class="info-pay-input" type="text" name="TotalPrice">
        </div>
        <div class="info-pay-div">
            <label asp-for="Pay">Khách trả:</label>
            <input asp-for="Pay" class="info-pay-input" type="text" name="Pay">
        </div>
        <div class="info-pay-div">
            <label asp-for="PayBack">Trả lại:</label>
            <input asp-for="PayBack" class="info-pay-input" type="text" name="PayBack">
        </div>
        <div class="info-pay-div">
            <input asp-for="Note" class="note-pay-input" type="text" placeholder="Ghi chú" name="Note">
        </div>

        <div class="payment-div"></div>
        <button class="print-btn">
            In hóa đơn
        </button>
        <button class="pay-btn" type="submit">
            Thanh toán
        </button>
    </form>
</div>





<script type="text/javascript">




        var Manager = {
            GetAllProduct: function () {
                var listNameArray = new Array();
                var obj = "";
                var serviceUrl = "https://localhost:5001/api/sell/getname";
                window.Manager.GetApi(serviceUrl, onSuccess, onFailed);
                function onSuccess(jsonData) {
                    obj = jsonData;
                    $.each(jsonData, function (i, item) {
                        listNameArray[i] = item.name.toString();
                    });
                    console.log("listNameArray", listNameArray)

                }
                function onFailed(error) {
                    window.alert(error.statusText);
                }
                return listNameArray
            },

            GetApi: function (serviceUrl, successCallBack, errorCallBack) {
                $.ajax({
                    type: "GET",
                    url: serviceUrl,
                    dataType: "json",
                    success: successCallBack,
                    error: errorCallBack
                });
            }
        }

        $(document).ready(async function () {
            var listNameArray = new Array();
            listNameArray = await Manager.GetAllProduct();
            console.log(listNameArray)
            $('#seach-input').autocomplete({
                lookup: listNameArray
            });
        })
    </script>

@*<script>

        $(document).ready(function () {
            var a = [
                'Afghan afghani',
                'Albanian lek',
                'Algerian dinar',
                'European euro',
                'Angolan kwanza',
                'East Caribbean dollar',
                'Vietnamese dong',
                'Yemeni rial',
                'Zambian kwacha',
                'Zimbabwean dollar'
            ];
            console.log(a);
            $('#seach-input').autocomplete({
                lookup: a,
            });
        });
    </script>*@

